<nav class='nav'>
  <% if user_signed_in? %>
    <strong><%= current_user.username %></strong>
    <!-- <span class="glyphicon glyphicon-user"></span> -->
    <%= link_to "Edit", edit_user_registration_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <!-- <span class="glyphicon glyphicon-log-out"></span> -->
  <% else %>
    <%= link_to "Sign up", new_user_registration_path  %> |
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</nav>
