<!DOCTYPE html>
<html>
  <head>
    <title>Lounge</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <div class="container">
        
        <div id="navbar">
          <%= render 'layouts/user_sidebar' %>
        </div>

        <div id="content">
          <% if notice %>
            <p id="notice"><%= notice %></p>
          <% end %>
          <%= yield %> 
        </div>

      </div>
    </div>
  </body>
</html>
